Repository boostcamp-2020/Project17-B-Map, pull requests merged in 2020-11, with the labels that each got.

#17 [feature/kmeans] KMeans 알고리즘
  BoostClusteringMaB/.swiftlint.yml
  BoostClusteringMaB/BoostClusteringMaB.xcodeproj/project.pbxproj
  BoostClusteringMaB/BoostClusteringMaB/KMeans/Cluster.swift
  BoostClusteringMaB/BoostClusteringMaB/KMeans/KMeans.swift
  BoostClusteringMaB/BoostClusteringMaB/KMeans/LatLng.swift
  BoostClusteringMaB/BoostClusteringMaB/KMeans/LinkedList.swift
  BoostClusteringMaB/BoostClusteringMaB/KMeans/POIModel.swift
  BoostClusteringMaB/BoostClusteringMaB/POI JSON Data/gangnam_8000.json
  BoostClusteringMaB/BoostClusteringMaB/POI JSON Data/restaurant.json
  BoostClusteringMaB/BoostClusteringMaB/ViewController.swift
  BoostClusteringMaB/BoostClusteringMaB/extension/CGPoint+Distance.swift
  BoostClusteringMaB/BoostClusteringMaBTests/BoostClusteringMaBTests.swift
  BoostClusteringMaB/BoostClusteringMaBTests/LinkedListTests.swift
Labels: Clustering

#18 [feature/marker_image_view] 마커 이미지를 위한 MarkerImageView
  .github/workflows/Auto_Reviewer.yml
  BoostClusteringMaB/BoostClusteringMaB.xcodeproj/project.pbxproj
  BoostClusteringMaB/BoostClusteringMaB/ViewController.swift
  BoostClusteringMaB/BoostClusteringMaB/Views/MarkerImageView.swift
Labels: UI

#20 [feature/touch for creating marker] 지도 클릭시 마커 생성
  .github/workflows/Auto_Reviewer.yml
  BoostClusteringMaB/BoostClusteringMaB/ViewController.swift
Labels: UI

#21 [feature/touch for creating marker] Merge conflict 문제
  BoostClusteringMaB/BoostClusteringMaB/ViewController.swift
Labels: bug

#19 [feature/coredata_stack] 코어데이터를 사용하는 레이어 클래스 생성
  BoostClusteringMaB/BoostClusteringMaB.xcodeproj/project.pbxproj
  BoostClusteringMaB/BoostClusteringMaB/AppDelegate.swift
  BoostClusteringMaB/BoostClusteringMaB/BoostClusteringMaB.xcdatamodeld/BoostClusteringMaB.xcdatamodel/contents
  BoostClusteringMaB/BoostClusteringMaB/CoreDataContainer.swift
  BoostClusteringMaB/BoostClusteringMaB/CoredataLayer.swift
  BoostClusteringMaB/BoostClusteringMaB/KMeans/POIModel.swift
  BoostClusteringMaB/BoostClusteringMaB/SceneDelegate.swift
  BoostClusteringMaB/BoostClusteringMaB/ViewController.swift
  BoostClusteringMaB/BoostClusteringMaBTests/CoreDataTests.swift
  BoostClusteringMaB/BoostClusteringMaBTests/XCTestCase+timeout.swift
  BoostClusteringMaB/Podfile.lock
Labels: CoreData

#26 [feature/fetch_range] 일정 범위만 fetch하는 함수 추가
  BoostClusteringMaB/BoostClusteringMaB/CoredataLayer.swift
  BoostClusteringMaB/BoostClusteringMaBTests/CoreDataTests.swift
Labels: CoreData

#28 [feature/coredata_remove] remove / removeAll 함수 추가
  BoostClusteringMaB/BoostClusteringMaB.xcodeproj/project.pbxproj
  BoostClusteringMaB/BoostClusteringMaB/CoreData/CoreDataContainer.swift
  BoostClusteringMaB/BoostClusteringMaB/CoreData/CoreDataLayer.swift
  BoostClusteringMaB/BoostClusteringMaBTests/CoreDataTests.swift
Labels: CoreData

#31 [Feature/linked list test] LinkedList테스트코드 작성
  BoostClusteringMaB/BoostClusteringMaB.xcodeproj/project.pbxproj
  BoostClusteringMaB/BoostClusteringMaB.xcodeproj/xcshareddata/xcschemes/BoostClusteringMaB.xcscheme
  BoostClusteringMaB/BoostClusteringMaB/KMeans/Cluster.swift
  BoostClusteringMaB/BoostClusteringMaB/KMeans/KMeans.swift
  BoostClusteringMaB/BoostClusteringMaB/KMeans/LinkedList.swift
  BoostClusteringMaB/BoostClusteringMaBTests/KMeansTest.swift
  BoostClusteringMaB/BoostClusteringMaBTests/LinkedListTests.swift
Labels: Clustering

#32 [feature/marker animation] 마커 애니메이션
  BoostClusteringMaB/BoostClusteringMaB.xcodeproj/project.pbxproj
  BoostClusteringMaB/BoostClusteringMaB/ViewController.swift
  BoostClusteringMaB/BoostClusteringMaB/extension/NMFMarker+Animation.swift
Labels: Animation

#36 [feature/coredata_fetch_sorted] CoreData에서 정보를 가져올 때 정렬 기능 추가
  BoostClusteringMaB/BoostClusteringMaB/CoreData/CoreDataLayer.swift
  BoostClusteringMaB/BoostClusteringMaB/KMeans/KMeans.swift
  BoostClusteringMaB/BoostClusteringMaB/KMeans/LatLng.swift
  BoostClusteringMaB/BoostClusteringMaB/KMeans/LinkedList.swift
  BoostClusteringMaB/BoostClusteringMaB/POI JSON Data/restaurant.json
  BoostClusteringMaB/BoostClusteringMaB/ViewController.swift
  BoostClusteringMaB/BoostClusteringMaB/extension/NMFMarker+Animation.swift
  BoostClusteringMaB/BoostClusteringMaBTests/CSVParserTests.swift
Labels: CoreData

#37 [feature/animation_improving] 애니메이션 효과 개선
  BoostClusteringMaB/BoostClusteringMaB.xcodeproj/project.pbxproj
  BoostClusteringMaB/BoostClusteringMaB/MarkerAnimateController.swift
  BoostClusteringMaB/BoostClusteringMaB/ViewController.swift
  BoostClusteringMaB/BoostClusteringMaB/extension/CGPoint+isValid.swift
  BoostClusteringMaB/BoostClusteringMaB/extension/NMFMarker+Animation.swift
Labels: Animation

#42 [Feature/cluster area] ConvexHull 알고리즘 적용
  BoostClusteringMaB/BoostClusteringMaB.xcodeproj/project.pbxproj
  BoostClusteringMaB/BoostClusteringMaB/AppDelegate.swift
  BoostClusteringMaB/BoostClusteringMaB/CSVParser.swift
  BoostClusteringMaB/BoostClusteringMaB/CoreData/CoreDataLayer.swift
  BoostClusteringMaB/BoostClusteringMaB/Extension/CGPoint+Distance.swift
  BoostClusteringMaB/BoostClusteringMaB/Extension/NMFMarker+Animation.swift
  BoostClusteringMaB/BoostClusteringMaB/KMeans/Cluster.swift
  BoostClusteringMaB/BoostClusteringMaB/KMeans/Clustering/Cluster.swift
  BoostClusteringMaB/BoostClusteringMaB/KMeans/Clustering/Clustering.swift
  BoostClusteringMaB/BoostClusteringMaB/KMeans/Clustering/ConvexHull.swift
  BoostClusteringMaB/BoostClusteringMaB/KMeans/KMeans.swift
  BoostClusteringMaB/BoostClusteringMaB/KMeans/LatLng.swift
  BoostClusteringMaB/BoostClusteringMaB/KMeans/LinkedList.swift
  BoostClusteringMaB/BoostClusteringMaB/KMeans/POIModel.swift
  BoostClusteringMaB/BoostClusteringMaB/ViewController.swift
  BoostClusteringMaB/BoostClusteringMaBTests/CSVParserTests.swift
  BoostClusteringMaB/BoostClusteringMaBTests/Clustering/ConvexHullTests.swift
  BoostClusteringMaB/BoostClusteringMaBTests/Clustering/LinkedListTests.swift
  BoostClusteringMaB/BoostClusteringMaBTests/CoreData/CoreDataTests.swift
  BoostClusteringMaB/BoostClusteringMaBTests/KMeansTest.swift
  BoostClusteringMaB/Podfile.lock
Labels: Clustering

#45 [feature/app_icon] App icon 추가
  BoostClusteringMaB/BoostClusteringMaB/Assets.xcassets/AppIcon.appiconset/1024.png
  BoostClusteringMaB/BoostClusteringMaB/Assets.xcassets/AppIcon.appiconset/120-1.png
  BoostClusteringMaB/BoostClusteringMaB/Assets.xcassets/AppIcon.appiconset/120.png
  BoostClusteringMaB/BoostClusteringMaB/Assets.xcassets/AppIcon.appiconset/152.png
  BoostClusteringMaB/BoostClusteringMaB/Assets.xcassets/AppIcon.appiconset/167.png
  BoostClusteringMaB/BoostClusteringMaB/Assets.xcassets/AppIcon.appiconset/180.png
  BoostClusteringMaB/BoostClusteringMaB/Assets.xcassets/AppIcon.appiconset/20.png
  BoostClusteringMaB/BoostClusteringMaB/Assets.xcassets/AppIcon.appiconset/29.png
  BoostClusteringMaB/BoostClusteringMaB/Assets.xcassets/AppIcon.appiconset/40-1.png
  BoostClusteringMaB/BoostClusteringMaB/Assets.xcassets/AppIcon.appiconset/40-2.png
  BoostClusteringMaB/BoostClusteringMaB/Assets.xcassets/AppIcon.appiconset/40.png
  BoostClusteringMaB/BoostClusteringMaB/Assets.xcassets/AppIcon.appiconset/58-1.png
  BoostClusteringMaB/BoostClusteringMaB/Assets.xcassets/AppIcon.appiconset/58.png
  BoostClusteringMaB/BoostClusteringMaB/Assets.xcassets/AppIcon.appiconset/60.png
  BoostClusteringMaB/BoostClusteringMaB/Assets.xcassets/AppIcon.appiconset/76.png
  BoostClusteringMaB/BoostClusteringMaB/Assets.xcassets/AppIcon.appiconset/80-1.png
  BoostClusteringMaB/BoostClusteringMaB/Assets.xcassets/AppIcon.appiconset/80.png
  BoostClusteringMaB/BoostClusteringMaB/Assets.xcassets/AppIcon.appiconset/87.png
  BoostClusteringMaB/BoostClusteringMaB/Assets.xcassets/AppIcon.appiconset/Contents.json
Labels: UI

#48 [feature/launch_screen] 로딩 화면 생성
  BoostClusteringMaB/BoostClusteringMaB.xcodeproj/project.pbxproj
  BoostClusteringMaB/BoostClusteringMaB/Assets.xcassets/icon.imageset/Contents.json
  BoostClusteringMaB/BoostClusteringMaB/Assets.xcassets/icon.imageset/icon.png
  BoostClusteringMaB/BoostClusteringMaB/Base.lproj/LaunchScreen.storyboard
  BoostClusteringMaB/BoostClusteringMaB/CoreData/CoreDataLayer.swift
  BoostClusteringMaB/BoostClusteringMaB/Info.plist
  BoostClusteringMaB/BoostClusteringMaB/JsonParser.swift
  BoostClusteringMaB/BoostClusteringMaB/Loading/LoadViewController.swift
  BoostClusteringMaB/BoostClusteringMaB/Views/Base.lproj/LaunchScreen.storyboard
  BoostClusteringMaB/BoostClusteringMaB/Views/Base.lproj/Main.storyboard
  BoostClusteringMaB/BoostClusteringMaB/Views/Loading.storyboard
  BoostClusteringMaB/BoostClusteringMaBTests/CSVParserTests.swift
Labels: Animation
